.wsite-logo {
    display: inline-block;
    vertical-align: top;
}

.utable {
    margin-top: 130px;
    padding-left: 10px;
}

.col-1 {
    width: 3%;
}

.col-2 {
    margin-left: 20px;
    width: 30%;
}

.col-3 {
    width: 10%;
}

.col-4 {
    width: 30%;
}

.col-5 {
    width: 10%;
}

.col-6 {
    width: 5%;
}